/* Reset Css */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Roboto+Slab:wght@300&display=swap');
*{
    
    margin:0px;
    padding:0px;
    text-decoration: none;
    list-style: none;    
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

/* Colors*/
li, h2,h3 {
color:#957943;   
}

a, p {
color:#DCBD72    
}

#Derechos 
{
color: White;
}

nav{
    position:absolute;
    top: 25%;
    right:5%;
}

.menuList {
color:white;
text-transform: uppercase;
font-weight: 500;
font-size: 1.3rem;
font-family: 'Nunito', sans-serif;
opacity: 0.80;
}

body{
   background-image: url("../media/imagenes/CITY.jpg");
    background-position: center;
}


header {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    border-bottom: 2px solid orange;
    position: relative;

    margin: 1% auto;
    width: 90vw;
    height: 180px;
    color: white;
    align-items: center;
    gap: 20px;
    border-radius: 28px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 3px rgba(255,255,255,0.4) solid;
    border-bottom: 3px rgba(40,40,40,0.35) solid;
    border-right: 3px rgba(40,40,40,0.35) solid;
    

}
header .logo {
    width: auto;
    height: auto;
}

header .logo {
    margin: 8% 8% 8% 50% ;
}


header .headerContainer ul {
    list-style: none;
    overflow:hidden;
}
header .headerContainer ul li {
    float: left;
}
header .headerContainer ul li a {
    text-decoration: none;
    color: white;
    padding: 50px 10px;
    margin-right: 20px;
    display: inline-block;
}

#door {
    display:block;
    margin-right: 3vw;
    border-radius: 80px;
    height:55vh;
    width:40vw;
}
#title {
    display:block;
    color:#E8D896;
    margin-left: 4vw;
    font-weight:700;
    font-size: 3rem;
    TEXT-transform: capitalize;
    
}

.containerDos{
    /* Se usó flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;

    margin: 1% auto;
    width: 85vw;
    height: 70vh;
    color: white;
    align-items: center;
    gap: 20px;
    border-radius: 28px;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 3px rgba(255,255,255,0.4) solid;
    border-bottom: 3px rgba(40,40,40,0.35) solid;
    border-right: 3px rgba(40,40,40,0.35) solid;
}

.Eslogan{

color:white;
font-size:  1.3rem;
font-weight: 400;
letter-spacing:normal;
line-height: 1;
}

.container{
    /* Segunda sección con flex */
    position:relative;
    display: flex;
    justify-content: space-evenly;
    margin: 1% auto;
    width: 85vw;
    align-items: center;
    gap: 20px;
    border-radius: 28px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 110, 132, 0.1);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 3px rgba(255,255,255,0.4) solid;
    border-bottom: 3px rgba(40,40,40,0.35) solid;
    border-right: 3px rgba(40,40,40,0.35) solid;
}
footer{
    /* Tercera sección con flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border-top: 3px rgba(255, 255, 255, 0.35) solid;
    
}

.container .searchContainer {
    margin: 30px auto;
}


.container .searchContainer input{
    margin: 30px auto;
}

.container .searchContainer select{
    margin: 30px auto;
}

.container .searchContainer h3{
    color:#DCBD72;
    font-weight: bold;
}

.container video{
    padding: 3%;
    border-radius:120px;
    width: 70vw;
}

.imageSection{
    padding:50PX;
    border-radius: 150px;
}


.sectionsText{
    padding-right: 5%;
    padding-left: 3%;
}

#roomsContainer{
    padding: 3%;
}

#imageContact{
    width:50vw;
    position:relative;
    padding-right:0px;
}

#map{
    display:inline-block;
    width:25vw;
    position:relative;
}

label{
    color:#DCBD72
}

#filters{
    padding:3%;
}

#filters img{
    width: 40px;
}

table{
    width: 100%;
    height: 100%;
    margin: 5%;
}

.insideContainer{
    width: 100%;
}
td{
    text-align: center;
}
td h3{
    color:#DCBD72; 
}
form{
    margin:5%;
}


/* Sub menu - Pronto a ser retirado*/
header .headerContainer ul{
    list-style: none;
}
header .headerContainer ul li{
    display: inline;
}

header .headerContainer ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
}

header .headerContainer ul li ul{
        display: none;
        position: absolute;
        padding-top: 15px;
}

header .headerContainer ul li:hover ul{
    background-color:rgba(0, 110, 132);;
    display: block;
}


