/* Reset Css */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Roboto+Slab:wght@300&display=swap');


*{
    
    margin:0px;
    padding:0px;
    text-decoration: none;
    list-style: none;    
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

/* Colors*/
li, h2,h3 {
color:#957943;   
}

a, p {
color:#DCBD72    
}

#Derechos 
{
color: White;
}

img {
    transition: all .5s ease;
}


.menuList {
color:white;
text-transform: uppercase;
font-weight: 500;
font-size: 1.3rem;
font-family: 'Nunito', sans-serif;
opacity: 0.80;
}

body{
   /* background-image: url("../media/imagenes/CITY.jpg"); */
   /* background-color: Red; */
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,19,1) 57%, rgba(115,0,255,1) 100%); 
   background-position: center;

}


header .logo {
    width: auto;
    height: auto;
}
/* 
header #logo {
    margin: 8% 8% 8% 50% ;
} */


header .headerContainer ul {
    list-style: none;
    overflow:hidden;
}
header .headerContainer ul li {
    float: left;
}
header .headerContainer ul li a {
    text-decoration: none;
    color: white;
    padding: 50px 10px;
    margin-right: 20px;
    display: inline-block;
}

.banner{
    /* Se usó flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;

    margin: 1% auto;
    width: 85vw;
    height: 70vh;
    color: white;
    align-items: center;
    gap: 20px;
    border-radius: 28px;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 3px rgba(255,255,255,0.4) solid;
    border-bottom: 3px rgba(40,40,40,0.35) solid;
    border-right: 3px rgba(40,40,40,0.35) solid;
}
#door {
    display:block;
    margin-right: 3vw;
    border-radius: 80px;
    height:55vh;
    width:40vw;
}
#title {
    display:block;
    color:#E8D896;
    margin-left: 4vw;
    font-weight:700;
    font-size: 3rem;
    text-transform: capitalize;
    
}

.banner__eslogan{

color:white;
font-size:  1.3rem;
font-weight: 400;
letter-spacing:normal;
line-height: 1;
}

.glass{
    margin: 1% auto;
    width: 85vw;
    border-radius: 28px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 110, 132, 0.1);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 3px rgba(255,255,255,0.4) solid;
    border-bottom: 3px rgba(40,40,40,0.35) solid;
    border-right: 3px rgba(40,40,40,0.35) solid;

}

.container{
    /* Segunda sección con flex */
    position:relative;
    display: flex;
    justify-content: space-evenly;
    margin: 1% auto;
    width: 85vw;
    align-items: center;
    gap: 20px;
    border-radius: 28px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 110, 132, 0.1);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 3px rgba(255,255,255,0.4) solid;
    border-bottom: 3px rgba(40,40,40,0.35) solid;
    border-right: 3px rgba(40,40,40,0.35) solid;
}

footer{
    /* Tercera sección con flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border-top: 3px rgba(255, 255, 255, 0.35) solid;
    
}

.container .Filters__items {
    margin: 30px auto;
}


.container .Filters__items input{
    margin: 30px auto;
}

.container .Filters__items select{
    margin: 30px auto;
}

.container .Filters__items h3{
    color:#DCBD72;
    font-weight: bold;
}

.Filters__items div{

display:flex;
flex-direction: column;
align-items: center;
}
.container video{
    padding: 3%;
    border-radius:120px;
    width: 70vw;
}

.imageSection{
    width: 100%;
    padding: 1%;
}


.sectionsText{
    width: 50%;
    padding-right: 5%;
}


#imageContact{
    width:40vw;
    position:relative;
    padding-right:0px;
}

#map{
    display:inline-block;
    width:25vw;
    position:relative;
}

label{
    color:#DCBD72
}

#filters{
    padding:3%;
}

#filters img{
    width: 40px;
}

table{
    width: 100%;
    height: 100%;
    margin: 5%;
}

.insideContainer{
    width: 100%;
}
td{
    text-align: center;
}
td h3{
    color:#DCBD72; 
}
form{
    margin:5%;
}


/* Sub menu - Pronto a ser retirado*/
header .headerContainer ul{
    list-style: none;
}
header .headerContainer ul li{
    display: inline;
}

header .headerContainer ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    transition: all .5s ease;
}

header .headerContainer ul li ul{
        display: none;
        position: absolute;
        padding-top: 15px;
}

header .headerContainer ul li:hover ul{
    background-color:rgba(0, 110, 132);;
    display: block;
}

.Filters{
    display:grid;
    grid-template-columns: repeat(4,auto);
    justify-content:space-evenly;
    align-content:center;
    row-gap:20px;
}
/* Fin de sub menú */



/*----- Responsive  Desing--------*/

/* Phone */
@media  screen and  (max-width: 780px){    
    .container{
        flex-direction:column;
    }

    .imageSection{
        padding: 5%;
    }

    .sectionsText{
        width: 80%;
    }

    .banner{
        flex-direction: column;
        justify-content:center;
    }

    #title{
        width:100%;
        margin-left: 0px;
        font-weight:700;
        font-size: 2rem;
        text-transform: capitalize;
        text-align:   center;
    }
    #door{
        
        width: 80%;
        height: 50%;
        margin-right: 0;
        border-radius: 30px;
        padding-bottom: 10px;
        margin-top: 25px;
    }


    .Filters{
        display:grid;
        grid-template-columns: repeat(1,auto);
        justify-content:center;
        align-content:center;
        row-gap:20px;
    }

    
    #containerVideo{
        display:none;
    }

    
}




/* Tablet */
@media  screen and  (min-width: 780px){    

    .banner{
        flex-direction: column;
        justify-content:center;
    }

    .imageSection{
        width:40%;
    }

    #title{
        width:100%;
        margin-left: 0px;
        font-weight:700;
        font-size: 2rem;
        text-transform: capitalize;
        text-align:   center;
    }
    #door{
        
        width: 80%;
        height: 50%;
        margin-right: 0;
        border-radius: 30px;
        padding-bottom: 10px;
        margin-top: 25px;
    }


    .Filters{
        display:grid;
        grid-template-columns: repeat(2,auto);
        justify-content:space-evenly;
        align-content:center;
        row-gap:20px;
    }

    .grid__gallery{
        grid-template-columns: repeat(2,auto);
    }

}



/* Desktop */
@media  screen and  (min-width: 1024px){    

    #title {
        display:block;
        color:#E8D896;
        margin-left: 4vw;
        font-weight:700;
        font-size: 3rem;
        text-transform: capitalize;
        
    }
    

    .Filters{
        padding: 3%;
        display:grid;
        grid-template-columns: repeat(4,auto);
        justify-content:space-evenly;
        align-content:center;
        row-gap:20px;
    }

    
    .banner{
        /* Se usó flex */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;

        margin: 1% auto;
        width: 85vw;
        height: 70vh;
        color: white;
        align-items: center;
        gap: 20px;
        border-radius: 28px;
        backdrop-filter: blur(3px);
        background-color: rgba(255, 255, 255, 0.15);
        box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
        border: 3px rgba(255,255,255,0.4) solid;
        border-bottom: 3px rgba(40,40,40,0.35) solid;
        border-right: 3px rgba(40,40,40,0.35) solid;
    }

    #door {
        display:block;
        margin-right: 3vw;
        border-radius: 80px;
        height:55vh;
        width:40vw;
    }

}

/* transformaciones */


.menuList:hover {
    transition: all .5s ease;
    /* color: white; */
    color: rgba(255, 255, 255, .9);
	transform: scale(1.1);
    
}


img:hover{
    transition: all .5s ease;
    /* color: white; */
    transform: scale(1.05);

}

.footer__links div a {
    color:#DCBD72;
    text-decoration:none;
}

.flexContainer{
display: flex;
flex-direction: column;
align-items: center;
margin-top:20px;
margin-bottom:20px;
}

.carousel__start{
    display: inline-block;
}

