 
    .positions{
        position:relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .size{
        margin: 1% auto;
        width: 85vw;
        border-radius: 28px;
    }

    .glass{
        backdrop-filter: blur(2px);
        background-color: rgba(26, 31, 26, 0.50);
        box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
        border: 3px rgba(255,255,255,0.2) solid;
        border-bottom: 3px rgba(40,40,40,0.35) solid;
        border-right: 3px rgba(40,40,40,0.35) solid;
    
    }


    .button--Elegant{
        justify-self: center;
        margin:2rem;
        background-color:rgba(255, 255, 255, 0.6);
        color:white;
        height: 50%;
        width: 50%;
        border-radius:  30px;
        border: 0px;
        transition: all .5s ease;
    }

    .button--Elegant:hover{
        transition: all .5s ease;
        background-color: rgb(122,17,0.8);
        color:white;
    
    }


    //blocks
    .testimonios{
        @extend .glass;
        @extend .size;
        @extend .positions;
    }

    .Dates {
        @extend .glass;
        @extend .size;

        & .Dates__items{

        }

        input, select{
            @extend .button--Elegant;
            width: 80%;
            height: 40px;
            text-align: center;
            option{
            color: black;
            }
        }
     

    }

    .Video{
        @extend .glass;
        @extend .size;
        @extend .positions;
        video{
            padding: 3%;
            border-radius:120px;
            width: 70vw;
        }
    }

    .Carousel{
        @extend .glass;
        @extend .size;
        @extend .positions;
        input{
            @extend .button--Elegant;
        }
        & .flexContainer{
            justify-items: center;
            text-align: center;
            align-items: center;
            img{
                justify-self: center;
 
            }
        }
    }

    .navbar{
        @extend .size;

    }

    .habitaciones{
        @extend .glass;
        @extend .size;
        & .grid__gallery{
            display:grid;
            grid-template-columns: repeat(3,auto);
            gap: 2rem;
            margin-top: 2rem;
            transition: all .5s ease;
            
            & .gallery__item{
                display:grid;
                grid-template-columns: repeat(auto,3); 
                justify-content: space-evenly;
                justify-items: center;
                align-content: space-evenly;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                    transition: all .5s ease;
                    padding:4%;
                    border-radius: 15%;
                    
                }
                input{
                    @extend .button--Elegant;
                }
           

            }
        }
    }

    .Filters{
        @extend .glass;
        @extend .size;
        @extend .positions;
        padding:3%;

        svg:hover {
            fill: red;
          }
    }

    .aboutUs{
        @extend .glass;
        @extend .size;
        @extend .positions;

    }

    .rooms{
        @extend .glass;
        @extend .size;
        @extend .positions;
        div{
            width: 100%;
            display: grid;
            grid-row: auto;
            align-items: center;
            padding: 3%;
            img{
                justify-self: center;
            }

            input{
                @extend .button--Elegant;
                width: 30%;
            }

        }
    }

    .information{
        @extend .glass;
        @extend .size;
        
        padding:3%;
        display: grid;
        grid-template-columns: repeat(2,auto); 
        text-align: center;
        align-items: center;

        
        
        & .information__column1{
            display:flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 80%;
                display:block;
            }
        }
        
        & .information__column2{
            display:block;
            & .information__map{
                padding: 3%;
                width: 100%;
            }
        }

    }

    .formulario{
        @extend .glass;
        @extend .size;
        @extend .positions;
    }


    footer{
        display: grid;
        grid-template-columns: repeat(4,auto);
        justify-content: space-evenly;
        width: 100vw;
        height: 20vh;
    }

    
    @media  screen and  (max-width: 780px){   


        footer{
            overflow:visible;
            justify-content:center;
            align-items:initial;
            gap:5px;
            width: 100vw;
            grid-template-columns: repeat(3,auto);
            padding-top: 5%;
            a{
                font-size:15px;
            }
            P{
                font-size: 10px;
            }
        }
        .habitaciones{ 
            & .grid__gallery{
            display:grid;
            grid-template-columns: repeat(1,auto);
            transition: all .5s ease;

            & .gallery__item{
                img {
                    padding:5%;
                    transition: all .5s ease;
                }
                input{
                    justify-self: center;
                    margin:2rem;
                    background-color:rgba(255, 255, 255, 0.7);
                    height: 50%;
                    width: 30%;
                    border-radius:  30px;
                    border: 0px;
                    transition: all .5s ease;
                }
            }
            }
        }

        .Video{
            display:none;
        }

        .information{
            display:grid;
            grid-template-columns: repeat(1,auto);

            & .information__column2{
                display:block;
                & .information__map{
                    padding: 3%;
                    width: 80%;
                    height: auto;
                }
            }
        }

        .aboutUs{
            flex-direction: column;
        }

        .rooms{
            flex-direction: column;
            
           
        }
    }


