
    section {
        & .grid__gallery{
            display:grid;
            grid-template-columns: repeat(3,auto);
            gap: 2rem;
            margin-top: 2rem;
            transition: all .5s ease;
            
            & .gallery__item{
                display:grid;
                grid-template-columns: repeat(auto,3); 
                text-align: center;
                align-items: center;
                
                img {
                    width: 100%;
                    height: 100%;
                    transition: all .5s ease;
                    padding:4%;
                }

                input{
                    margin:2rem;
                    background-color:aliceblue;
                    border:0px;
                }
            }
        }
    }
    

    @media  screen and  (max-width: 780px){   
        section{ 
            & .grid__gallery{
            display:grid;
            grid-template-columns: repeat(1,auto);
            transition: all .5s ease;

            & .gallery__item{
                img {
                    padding:5%;
                    transition: all .5s ease;
                }
                input{
                    margin:0%;
                    background-color:bisque;
                    transition: all .5s ease;
                }
            }
            }
        }
      }